body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #333;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  padding: 16px 0;
}
.header__logo {
  display: inline-block;
  max-width: 255px;
}
.header__logo-img {
  max-width: 100%;
}
.header__nav-item + .header__nav-item {
  margin-left: 40px;
}
.header__nav-toggler {
  border: 1px solid #Dc0000;
  padding-top: 8px;
}
.header__nav-toggler:focus {
  box-shadow: none;
}
.header__nav-link {
  color: #Dc0000;
}

.banner {
  min-height: 544px;
  padding-top: 140px;
  padding-bottom: 89px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url("../images/img 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner__title {
  margin: 0 0 45px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.5em;
}
.banner__info {
  margin: 0 0 45px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
}
.banner__info-details {
  margin: 0 0 45px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}
.banner__btn {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  padding: 21px 41px 16px 56px;
}

.overley {
  position: relative;
  z-index: 1;
}
.overley::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 37, 51, 0.4);
  z-index: -1;
  content: "";
}

.cat {
  padding: 60px 0;
}
.cat__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 419px;
  background-image: url("../images/img 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cat__item--women {
  background-image: url("../images/img 3.jpg");
}
.cat__item--acces {
  background-image: url("../images/img 4.jpg");
}
.cat__item-title {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;
}
.cat__link {
  color: #ffffff;
  text-decoration: none;
}

.section__title {
  position: relative;
  padding: 28px 0 29px;
  margin: 0 0 60px 0;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: #333;
}
.section__title::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  height: 3px;
  background-color: #Dc0000;
  content: "";
}
.section__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  height: 3px;
  background-color: #Dc0000;
  content: "";
}

.blog__list {
  display: grid;
}
.blog__info-title {
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
  color: #Dc0000;
}
.blog__btn {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 2px 5px;
}

.footer {
  background-image: url("../images/img 6 (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 86px;
  padding: 65px 0;
}
.footer__title {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .header__nav-item + .header__nav-item {
    margin-left: 0;
  }
}
@media (min-width: 1040px) {
  .blog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}/*# sourceMappingURL=main.css.map */