@import "vars";

.footer {
    background-image:  url("../images/img\ 6\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 86px;
    padding: 65px 0;
  &__title {
    font-family: $secon-font;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: $ligth;
  }
}
