@media (max-width: 991.98px) {
    .header {
        &__nav-item + &__nav-item {
            margin-left: 0;
        }
    }
    
    
}
@media (min-width:1040px ) {
    .blog {
        &__list {
            grid-template-columns: repeat(2,1fr);
            gap: 30px;
        }
    }

}
